includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    excludePaths:
        - tests
    level: 5
    ignoreErrors:
        - '#Trait .* is used zero times and is not analysed.#'
